.row
  = form_for(:session, url: sign_in_path) do |f|
    .row
      .input-field.col.s12
        = f.email_field :email, { id: 'email', class: 'validate' }
        = f.label :email, {'data-error' => 'Wrong', 'data-success': 'Correct' }
    .row
      .input-field.col.s12
        = f.password_field :password, { id: 'password', class: 'validate' }
        = f.label :password
    .row
      .col.s12
        = f.submit 'Login', { class: 'waves-effect waves-light btn'}
