.row
  .col.s12
    %h4.center Add new spreedsheet
= form_tag spreedsheets_import_path,  multipart: true do
  .row
    .col.s12
      .file-field.input-field.center
        .btn
          %span File
          = file_field_tag :file
        .file-path-wrapper
          = text_field_tag '', '',  { class: 'file-path validate' }
  .row
    .col.s12
      .input_field.center
        = submit_tag 'import', { class: 'btn' }
%br
.row
  .col.s12
    %table.highlight.bordered
      %thead
        %tr
          %th Name
          %th Email
          %th Phone
          %th Options
      %tbody
        - @spreedsheets.each do |spreedsheet| 
          %tr
            %td 
              = spreedsheet[:nome]
            %td 
              = spreedsheet[:email]
            %td 
              = spreedsheet[:telefone]
            %td
              = link_to 'Delete', spreedsheets_destroy_path(spreedsheet.id), { class: 'waves-effect waves-light btn red', method: :delete }
